$accentColor = #3366ff                    // 主题颜色
$textColor = #a6aeba                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #31363f                      // 代码块背景色
$backgroundColor = #282c34                  // 悬浮块背景色
